


// main theme color
$primary-color : #43b97b;
$header-color: #525252;


// color
$white_color: #ffff;
$top-header-text-color: #6e6c6c;

// layout width
$content-width : 1100px;
$section-width: 100%;

// font size
$h-font-size : 34px;
$h-font-widht: 700;
$info-font-size: 16px;
$info-font-weight: 500;

